<!--## Baseform
## Copyright (C) 2018  Baseform

## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.

## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.-->


<div class="page-title">
  <div class="title_left">
    <div class="form-group">
      <%= form_tag users_path, method: :get do %>
        <%= text_field_tag 'search', params[:search] , class: 'form-control', style: 'width: 50%; display: inline-block' %>
        <%= submit_tag 'search', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="title_right">
  </div>
</div>
<div class="clearfix">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>List of Users</h2>
          <div class="nav navbar-right panel_toolbox">
            <%= paginate @users %>
            <%= link_to 'NEW', new_user_path, class: 'btn btn-success small' %>
            <!-- <%= link_to 'IMPORT', "#", class: 'btn btn-info small importData' %>
            <%= form_tag import_users_path, method: :post,  multipart: true, class: 'import_form' do %>
              <%= file_field_tag 'file', class: 'form-control imp', style: 'display: none' %>
            <% end %> -->
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <table class="table table-striped jambo_table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Last action</th>
              </tr>
            </thead>
            <tbody>
              <% @users.order("online DESC  NULLS LAST, last_action DESC NULLS LAST").each.with_index do |user, idx| %>
                <tr class="<%= idx % 2 == 0 ? "odd" : "even" %> pointer openTr <%= user.is_online? ? 'online' : '' %>"  data-link="<%= edit_user_path(user) %>">
                  <td><%= user.email %></td>
                  <td><%= user.roles_to_string %></td>
                  <td><%= user.last_action %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".openTr").on("click", function(e) {
    location.href = this.dataset.link;
  });

  $(".importData").on("click", function(e) {
    $(".import_form").find("input[type='file']").trigger("click");
  });

  $("input[type='file']").on("change", function(e) {
    $(this).closest("form").submit();
  });
</script>
