<!--## Baseform
## Copyright (C) 2018  Baseform

## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.

## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.-->


<div class="page-title">
  <div class="title_left">
    <%= render 'challenges/tabs' %>
  </div>
</div>
<div class="clearfix">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><b>Editing Event:</b> <%=@event.designacao%> - <b>on challenge:</b> <%= @challenge.titulo %></h2>
          <div class="nav navbar-right panel_toolbox">
            <%= link_to 'Back', edit_challenge_path(@challenge, tab: "events"), class: "btn btn-dark" %>
            <%= link_to 'Delete', challenge_event_path(challenge: @challenge, event: @event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= render 'event_form' %>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2><b>Participants going to: </b> <%=@event.designacao%> - <b>on challenge:</b> <%= @challenge.titulo %></h2>
          <div class="nav navbar-right panel_toolbox">
            <%= link_to 'Back', edit_challenge_path(@challenge, tab: "events"), class: "btn btn-dark" %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-striped jambo_table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% @event.participants.each_with_index do |participant, idx| %>
                <tr class="<%= idx % 2 == 0 ? "odd" : "even" %> pointer openTr"  data-link="<%= participant_path(participant) %>">
                  <td><%= participant.nome %></td>
                  <td><%= participant.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(".openTr").on("click", function(e) {
    location.href = this.dataset.link;
  });
</script>
