<!--## Baseform
## Copyright (C) 2018  Baseform

## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.

## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.-->


<div class="page-title">
  <div class="title_left">
      <%= render 'challenges/tabs' %>
  </div>
</div>
<div class="clearfix">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><b>Editing Survey:</b> #<%=@survey.nome%> - <b>on challenge:</b> <%= @challenge.titulo %></h2>
          <div class="nav navbar-right panel_toolbox">
            <%= link_to 'Back', edit_challenge_path(@challenge, tab: "surveys"), class: "btn btn-dark" %>
            <%= link_to 'Delete', challenge_survey_path(@challenge, @survey), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <%= render 'survey_form' %>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2><b>Items</h2>
          <div class="nav navbar-right panel_toolbox">
            <%= link_to 'New', new_challenge_survey_item_path(@challenge, @survey), class: "btn btn-success" %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <% survey_builder = SurveyBuilder.new(@survey)%>
          <%= raw survey_builder.markup %>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2><b>Answers</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-striped jambo_table">
            <thead>
              <tr>
                <th>Participant</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <% @survey.answers.submitted.each_with_index do |answer, idx| %>
                <tr class="<%= idx % 2 == 0 ? "odd" : "even" %> pointer openTr"  data-link="<%= challenge_survey_answer_path(@challenge, @survey, answer) %>">
                  <td><%= answer.participant.nome %></td>
                  <td><%= answer.data_submissao %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(".openTr").on("click", function(e) {
    location.href = this.dataset.link;
  });
</script>
