<!--## Baseform
## Copyright (C) 2018  Baseform

## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.

## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.-->


<ul class="tabList">
  <li><a href="<%= edit_challenge_path(@challenge, tab: "issue") %>" class="btn btn-default <%= "active" if @currentTab == "issue" %>">Challenge</a></li>
  <li><a href="<%= edit_challenge_path(@challenge, tab: "sections") %>" class="btn btn-default <%= "active" if @currentTab == "sections" %>">Sections</a></li>
  <li><a href="<%= edit_challenge_path(@challenge, tab: "docs") %>" class="btn btn-default <%= "active" if @currentTab == "docs" %>">Documents</a></li>
  <li><a href="<%= edit_challenge_path(@challenge, tab: "events") %>" class="btn btn-default <%= "active" if @currentTab == "events" %>">Events</a></li>
  <li><a href="<%= edit_challenge_path(@challenge, tab: "surveys") %>" class="btn btn-default <%= "active" if @currentTab == "surveys" %>">Surveys</a></li>
  <% if !@challenge.system.is_best_practice %>
    <li><a href="<%= edit_challenge_path(@challenge, tab: "game") %>" class="btn btn-default <%= "active" if @currentTab == "game" %>">Gamification</a></li>
  <% end %>
</ul>
